<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>文章发布</title>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../tinymce/tinymce.min.js"></script>

    <div th:replace="admin_common :: commomheader"></div>
    <script type="text/javascript">
        function selectFile(){
            $("#photo").trigger("click");
        }
        function getImage() {
            var photo=document.querySelector("#photo");
            var file=photo.files[0];
            var type = $("#info").val();
            var formData=new FormData();
            formData.append("img",file);
            formData.append("type",type);
            var xhr=new XMLHttpRequest();
            xhr.open("post","/upload/img")
            xhr.onload=function (ev) {
                var json;
                if(xhr.status!==200){
                    failFun('HTTP Error:'+xhr.status);
                    return
                }
                json=JSON.parse(this.responseText);
                if(!json||typeof json.location !='string'){
                    failFun('Invalid JSON:'+xhr.responseText);
                    return;
                }else{
                    console.log(json.location);
                    $("#url").val(json.location) ;
                    $("#src").attr("src",json.location);
                }


            };
            xhr.send(formData);
        }
        /**
         * ajax提交表单，并刷新页面
         */
        function submitInfo() {
            var content = tinyMCE.activeEditor.getContent();
            var $type = $("#info").val();
            var $title = $("#title").val();
            var $introduce = $("#introduction").val();
            var $photo = $("#url").val();
            $.ajax({
                type:"POST",
                url:"/admin/submitInfo",
                contentType:"application/json;charset=UTF-8",
                data:JSON.stringify({"title":$title,"title":$title,"introduce":$introduce,"infoType":$type,"photo":$photo,"content":content}),
                dataType:"text",
                success:function (msg) {
                    if(msg === "success"){
                        alert("操作成功！")
                    }else{
                        alert("修改出错！")
                    }
                    window.location.href="/admin/putInfo";
                },
                error:function () {
                    alert("出错了！")
                }
            });
        }
    </script>

    <script>
        tinymce.init({
            selector: '#description',
            //skin:'oxide-dark',
            language:'zh_CN',
            plugins: 'print preview searchreplace autolink directionality visualblocks visualchars  image link media template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help emoticons autosave bdmap indent2em autoresize lineheight formatpainter axupimgs',
            toolbar: 'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify outdent indent | blockquote subscript superscript removeformat | \
                     styleselect formatselect fontselect fontsizeselect | bullist numlist |  \
                     table image media charmap emoticons hr pagebreak insertdatetime print preview  | indent2em lineheight formatpainter axupimgs',
            height: 650, //编辑器高度
            min_height: 400,
            /*content_css: [ //可设置编辑区内容展示的css，谨慎使用
                '/static/reset.css',
                '/static/ax.css',
                '/static/css.css',
            ],*/
            fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
            font_formats: '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats;知乎配置=BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;小米配置=Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif',
            link_list: [
                { title: '预置链接1', value: 'http://www.tinymce.com' },
                { title: '预置链接2', value: 'http://tinymce.ax-z.cn' }
            ],
            image_list: [
                { title: '预置图片1', value: 'https://www.tiny.cloud/images/glyph-tinymce@2x.png' },
                { title: '预置图片2', value: 'https://www.baidu.com/img/bd_logo1.png' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            //importcss_append: true,
            //自定义文件选择器的回调内容
            file_picker_callback: function (callback, value, meta) {
                if (meta.filetype === 'file') {
                    callback('https://www.baidu.com/img/bd_logo1.png', { text: 'My text' });
                }
                if (meta.filetype === 'image') {
                    callback('https://www.baidu.com/img/bd_logo1.png', { alt: 'My alt text' });
                }
                if (meta.filetype === 'media') {
                    callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.baidu.com/img/bd_logo1.png' });
                }
            },
            //为内容模板插件提供预置模板
            templates: [
                { title: '模板1', description: '介绍文字1', content: '模板内容' },
                { title: '模板2', description: '介绍文字2', content: '<div class="mceTmpl"><span class="cdate">CDATE</span>，<span class="mdate">MDATE</span>，我的内容</div>' }
            ],
            //
            template_cdate_format: '[CDATE: %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[MDATE: %m/%d/%Y : %H:%M:%S]',
            autosave_ask_before_unload: false,
            toolbar_drawer : false,
            // images_upload_base_path: '/demo',
            images_upload_handler: function (blobInfo, succFun, failFun) {
                var xhr,formData;
                var art_title=$("art_title").val();
                var art_author=$("art_author").val();
                var type = $("#info").val();
                xhr = new XMLHttpRequest();
                xhr.withCredentials= false;
                xhr.open("post","/upload/img");
                formData=new FormData();
                formData.append("img" , blobInfo.blob());
                formData.append("type",type);
                xhr.onload = function (ev) {
                    var json;
                    if(xhr.status!==200){
                        failFun('HTTP Error:'+xhr.status);
                        return
                    }
                    json=JSON.parse(this.responseText);
                    if(!json||typeof json.location !='string'){
                        failFun('Invalid JSON:'+xhr.responseText);
                        return;
                    }
                    // 成功回调
                    succFun(json.location);
                };
                xhr.send(formData);
            }

        });
    </script>

    <style>
        .div-highe{
            height: 70px;
        }
        .imgs{
            width: 160px;
            height: 205px;
        }
        .div-highe2{
            height: 40px;
        }
    </style>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="admin_common :: #leftmune(url='putInfo')"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="admin_common :: #headermune"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
               文章发布
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    文章信息
                </header>
                <div class="panel-body">
               <!-- <div class="space15"></div>-->
                    <form class="forms-sample" id="info_form">
                        <div class="col-sm-12">
                        <div class="col-sm-7">
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input type="text" class="form-control" id="title" placeholder="标题" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="introduction">简介</label>
                            <div class="input-group col-xs-12">
                                <textarea name="introduce" id="introduction" placeholder="简介" required="required" class="col-10 form-control"  style=" height:80px"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="info_category"> 信息类别</label>
                            <input type="text"  style="display:none" id="type" />
                            <div class="col-sm-12" id="info_category">
                                <select class="form-control" id="info" name="infoType">
                                    <option value="首页轮播">首页轮播</option>
                                    <option value="全球战疫">全球战疫</option>
                                    <option value="榜样力量">榜样力量</option>
                                    <option value="身边榜样">身边榜样</option>
                                    <option value="新时代楷模">新时代楷模</option>
                                    <option value="热点时事">热点时事</option>
                                    <option value="最美中国人">最美中国人</option>
                                    <option value="最美中国景">最美中国景</option>
                                    <option value="最美中国事">最美中国事</option>
                                    <option value="电影">电影</option>
                                    <option value="书籍">书籍</option>
                                    <option value="近期政策">近期政策</option>
                                    <option value="人物">人物</option>
                                </select>

                            </div>
                        </div>
                            <div class="div-highe2"></div>
                        <div class="form-group">
                            <label>上传封面</label>
                            <div class="input-group col-xs-12">
                                <div class="col-xs-10">
                                <input type="text" class="form-control file-upload-info" readonly placeholder="上传封面" id="url" name="photo" >

                                   <input type="file" id="photo" style="display:none" multiple="multiple" onchange="getImage()"/>
                                </div>
                                <div class="col-xs-2">
                            <button class="file-upload-browse btn btn-primary" type="button" onclick="selectFile()">上传</button></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-5">
                            <label  class="col-sm-3  control-label">封面预览</label>
                            <div class="col-sm-7 col-sm-offset-2">
                                 <span>
                                    <div class="div-highe"></div>
                               <img class="imgs" id="src" src="/images/cover.jpg"  alt="封面" />
                                 </span>
                        </div>
                        </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="description">内容</label>
                            <textarea id="description"  name="content"></textarea>
                        </div>
                        <input type="reset" class="btn btn-light" value="重置">
                        <input type="button" class="btn btn-primary mr-2" value="提交" id="subBtn" onclick="submitInfo()">
                    </form>
                </div>
                </section>
                </div>
                </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            <div th:replace="admin_common :: #footer"></div>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->

<div th:replace="admin_common :: commomScript"></div>
<!--data table-->


</body>
</html>
