<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>热点时事</title>
   <!-- <link rel="shortcut icon" th:href="@{/img/title.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/base_news.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/font/font.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/inner.css}" rel="stylesheet" type="text/css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/js/user/jquery-1.8.3.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <script th:src="@{/js/user/slick.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/user/regexcut.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <script th:src="@{/js/user/owl.carousel.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/user/comm.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/user/jump.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/searchsub.js}"></script>
    <link th:href="@{/css/search-suggest.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/user/search-suggest.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/demo.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        .imgs1{
            width: 100px;
            height: 80px;
        }
    </style>-->
    <div th:replace="info_common :: commomheader"></div>
</head>
<body>
<!--导航栏及搜索框------------->
<!--<header class="clearfix">
    <section class="mainWrap">
        <div class="topwraper relative clearfix">
            <div class="search">
                <input type="text" id="search" name="baidu_line" autocomplete="off"/>
                <a onclick="searchSub(${numberPerPage})"><i>搜索</i></a>
            </div>
        </div>
    </section>
    <nav class="navwrap yahei">
        <section class="mainWrap">
            <ul id="nav">
                <li><a href="">全球战疫</a>
                </li>
                <li><a href="">热点资讯</a>
                </li>
                <li><a href="">爱我中华</a>
                </li>
                <li><a href="">榜样力量</a>
                </li>
                <li><a href="">话题</a>
                </li>
                <li><a href="" >书籍</a></li>
                <li><a href="">电影</a></li>
                <li th:if="${session.user != null}"><a href="">个人中心</a>
                    <ul class="last">
                        <li><a href="">个人信息</a></li>
                        <li><a href="">反馈</a></li>
                        <li th:if="${session.user.utype=='admin'}"><a href="">管理界面</a></li>
                        <li><a href="">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</header>-->

<div th:replace="info_common :: #head"></div>

<div class="content yahei subchannel">
    <div class="mainWrap clearfix">
        <!--主体部分--------------------->
        <section class="colunm1">
            <!--顶部大图------------------------->
            <div class="biggallery">
                    <div class="biggallerywraper" th:each="infoTop:${hotTop}">
                        <ul class="biggallerylist clearfix">
                            <li><a href="" target="_blank"><img th:src="${infoTop.photo}"></a></li>
                        </ul>
                        <div class="imgintro1">
                            <b></b>
                            <h3>
                                <a href="" target="_blank"  id="title1-1" class="jiequ">[[${infoTop.title}]]</a>
                            </h3>
                            <p>[[${infoTop.introduce}]]</p>
                        </div>
                    </div>
            </div>
            <!--文章列表部分------------------------------->
            <ul class="picnewslist people">
                    <li class="clearfix" th:each="hotList:${hotInfo.records}">
                        <figure>
                            <a class="picwraper" href="" target="_blank">
                                <img th:src="${hotList.photo}">
                            </a>
                            <div class="contentwraper">
                                <figcaption>
                                    <span class="tips">[[${hotList.infoType}]]</span>
                                    <a href="" target="_blank"  class="jiequ">
                                        [[${hotList.title}]]
                                    </a>
                                </figcaption>
                                <p>[[${hotList.introduce}]]</p>
                                <div class="thumb">
                                    <i class=" glyphicon glyphicon-time"></i>
                                   [[${hotList.date}]]
                                    <i class=" glyphicon glyphicon-eye-open"></i>[[${hotList.view}]]
                                    <font  >
                                        <span  ></span>
                                    </font>

                                </div>
                            </div>
                        </figure>
                    </li>
            </ul>
            <br>
            <!--分页部分-->
            <div class="pager">

                        <a th:href="@{/user/hotInfo(pn=${hotInfo.current}-1)}" rel="external nofollow" ><<</a>
                <!-- 页数列表 -->
                    <a  th:each="num:${#numbers.sequence(1,hotInfo.pages)}"  th:href="@{/user/hotInfo(pn=${num})}" rel="external nofollow" th:class="${num==hotInfo.current?'current':''}">[[${num}]]</a>
                <!-- 下一页 按钮 -->
                        <a th:href="@{/user/hotInfo(pn=${hotInfo.current}+1)}" rel="external nofollow">
                            >>
                        </a>

            </div>
        </section>
        <!--侧边部分--------------------->
        <section class="colunm2">
            <section class="mod withborder">
                <h2>
                    <span class="iconwraper"><i class="thunews-play-circle glyphicon glyphicon-play-circle"></i></span>
                    精彩视频
                    <a href="#" style="font-size:12px; color:#666; margin-left:30px">
                    </a>
                </h2>
                <table class="table newslist clearfix" >
                        <tr th:each="videos:${videoList}" >
                            <td><a href=""><img class="imgs1" th:src="${videos.vphoto}"></a></td>
                            <td style="word-break:break-all; word-wrap:break-word; white-space:inherit"> <a href="" ><p style="float: left">[[${videos.vtitle}]]</p></a>
                                <br><small style="float: right"><i class=" glyphicon glyphicon-time"></i>[[${videos.vdate}]]</small></td>
                        </tr>
                </table>
            </section>
            <section class="mod withborder">
                <h2 class="red"><span class="iconwraper">
            <i class="thunews-line-chart glyphicon glyphicon-fire"></i>
            </span>
                    近期热点
                    <a href="#" style="font-size:12px; color:#666; margin-left:30px">
                    </a>
                </h2>
                <ul class="newslist clearfix"  id="resText">
                    <li th:each="hotS:${hot}"><a href="">[[${hotS.title}]]<small style="float: right">[[${hotS.date}]]</small></a></li>
                </ul>
            </section>
        </section>
    </div>
</div>
</body>
</html>