<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章搜索结果---繁星思政网</title>
    <div th:replace="info_common :: commomheader"></div>
    <script type="text/javascript">
        function isEq() {
            var p1= $("#key").val();
            if(p1 == null||p1 == ""){
                alert("输入不能为空！")
                return false;
            }
            window.location.href="/user/searchInfo?key="+p1;
        }
    </script>
</head>
<body>
<header id="head" class="clearfix" >
    <section class="mainWrap">
        <div class="topwraper relative clearfix">
            <div class="search">
                <form  id="searchs">
                <input type="text" id="key" name="key" autocomplete="off" required placeholder="输入关键字搜索"/>
                <a onclick="isEq()"><i>搜索</i></a></form>
            </div>
        </div>
    </section>
    <nav class="navwrap yahei">
        <section class="mainWrap">
            <ul id="nav">
                <li><a th:href="@{/}">首页</a>
                </li>
                <li><a th:href="@{/user/allE}">全球战疫</a>
                </li>
                <li><a th:href="@{/user/hotInfo}">热点时事</a>
                </li>
                <li><a th:href="@{/user/chineseInfo}">爱我中华</a>
                </li>
                <li><a th:href="@{/user/manModels}">榜样力量</a>
                </li>
                <li><a th:href="@{/user/showCourse}">江西师大课程思政</a>
                </li>
                <li><a th:href="@{/user/topic}">话题广场</a>
                </li>
                <li th:if="${session.user != null}"><a th:href="@{/person/personalInfo}">个人中心</a>
                    <ul class="last">
                        <li th:if="${session.user.utype=='admin'}"><a th:href="@{/admin/index.html}">管理界面</a></li>
                        <li><a th:href="@{/loginOut}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</header>

<div class="content yahei subchannel">
    <div class="mainWrap clearfix">
        <!--主体部分--------------------->
        <section class="colunm1">
            <!--顶部大图------------------------->
            <div class="biggallery">
                <div class="biggallerywraper">

                </div>
            </div>
            <!--文章列表部分------------------------------->
            <ul class="picnewslist people">
                <h3 th:if="${infoList.size() == 0}">该关键字暂无搜索结果，换个词搜索吧！</h3>
                <li class="clearfix" th:if="${infoList.size() != 0}" th:each="hotList:${infoList}">
                    <figure>
                        <a class="picwraper" th:href="@{/user/infoDal(infoId=${hotList.infoId})}" target="_blank">
                            <img th:src="${hotList.photo}">
                        </a>
                        <div class="contentwraper">
                            <figcaption>
                                <span class="tips" th:text="${hotList.infoType}"></span>
                                <a th:href="@{/user/infoDal(infoId=${hotList.infoId})}" target="_blank"  class="jiequ">
                                    [[${hotList.title}]]
                                </a>
                            </figcaption>
                            <p>[[${hotList.introduce}]]</p>
                            <div class="thumb">
                                <i class=" glyphicon glyphicon-time"></i>
                                [[${hotList.date}]]
                                <font  >
                                    <span  ></span>
                                </font>

                            </div>
                        </div>
                    </figure>
                </li>
            </ul>
            <br>
        </section>
        <!--侧边部分--------------------->
        <section class="colunm2">
            <section class="mod withborder">
                <h2>
                    <span class="iconwraper"><i class="thunews-play-circle glyphicon glyphicon-play-circle"></i></span>
                    精彩视频
                    <a href="#" style="font-size:12px; color:#666; margin-left:30px">
                    </a>
                </h2>
                <table class="table newslist clearfix" >
                    <tr th:each="videos:${videoList}" >
                        <td><a th:href="@{/user/videoDal(vid=${videos.vid})}"><img class="imgs1" th:src="${videos.vphoto}"></a></td>
                        <td style="word-break:break-all; word-wrap:break-word; white-space:inherit"> <a th:href="@{/user/videoDal(vid=${videos.vid})}" ><p style="float: left">[[${videos.vtitle}]]</p></a>
                            <br><br><br><small style="float: right"><i class=" glyphicon glyphicon-time"></i>[[${videos.vdate}]]</small></td>
                    </tr>
                </table>
            </section>
            <section class="mod withborder">
                <h2 class="red"><span class="iconwraper">
            <i class="thunews-line-chart glyphicon glyphicon-fire"></i>
            </span>
                    近期热点
                    <a href="#" style="font-size:12px; color:#666; margin-left:30px">
                    </a>
                </h2>
                <ul class="newslist clearfix"  id="resText">
                    <li th:each="hotS:${hot}"><a th:href="@{/user/infoDal(infoId=${hotS.infoId})}">[[${hotS.title}]]</a></li>
                </ul>
            </section>
        </section>
    </div>
</div>


</body>
</html>