<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>话题详情</title>
    <link rel="shortcut icon" th:href="@{/img/title.ico}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" th:href="@{/css/topic.css}"/>
    <link th:href="@{/css/base_news.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/user/jump.js}"></script>
    <style type="text/css">
        body{
            background-image: url("../img/bg_02.jpg");
        }
        .hig{
            height: 80px;
        }
    </style>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
       <!--<a href=""><img th:src="@{/img/title.ico}" alt="" class="headPic1"/></a>-->
        <ul class="headNav">
            <li><a th:href="@{/}">首页</a></li>
            <li><a th:href="@{/user/topic(pn=${pn},is=${is})}">返回上一页</a></li>
        </ul>
        <!--未登入开始-->
        <div class="ltForm">
            <a href=""><img th:src="@{/img/indexForm_bg.png}" alt="" class="headPic2"/></a>
            <ul th:if="${session.user == null}">
                        <li><a th:href="@{/login.html}">登录</a></li>
                        <li><a th:href="@{/registration}">注册</a></li>
            </ul>
            <ul th:if="${session.user != null}">
                <li><a th:href="@{/person/personalInfo}" th:text="${session.user.uname}"></a></li>
            </ul>
        </div>
    </div>
</header>
<div class="indexMain">
    <div class="indexMain_left">
        <div class="tzCon">
            <div class="tzCon_head">
                <div class="tzCon_head_left"><img th:src="${topicUser.photo}"></div>
                <div class="tzCon_head_right">
                    <h1>[[${topicDal.ttitle}]]</h1>
                    <ul>
                        <li>发布人：[[${topicUser.uname}]]</li>
                        <li>发布时间：[[${topicDal.date}]]</li>
                        <li>浏览数：[[${topicDal.tview}]]</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tzCon_con">
                [[${topicDal.content}]]
            </div>
            <div class="tzCon_foot">
            </div>
        </div>
        <div class="writePending">
            <div class="newPending_head">
                <div class="tzHeng"></div>
                <div class="newPending_head_tittle">评论</div>
            </div>
            <div class="writePending_con">
                <input type="text" th:placeholder="${session.user==null?'请登录后评论':'写下你的评论...(请不要超过50个字)'}"class="commentText" maxlength="50"/>
                <input type="submit" value="评论" id="postMsg" th:disabled="${session.user==null?'disabled':'false'}"/>
            </div>
        </div>
        <div class="newPending">
            <div class="newPending_head">
                <div class="tzHeng"></div>
                <div class="newPending_head_tittle">相关回复</div>
            </div>
           <!-- 楼主可以删除评论、自己可以删除自己的评论删除按钮酌情出现
            回复后的情况-->
               <div th:each="dynamic:${dynamics.records}" class="newPending_son">
                   <div class="pendPic"><img th:src="${dynamic.user.photo}"></div>
                   <div class="pendDetail">
                       <div class="pendDetail_head">
                           <p>[[${dynamic.user.uname}]]<span>[[${dynamic.date}]]</span></p>
                           <input type="text" style="display: none" id="wid" value="${dynamic.wid}">
                       </div>
                       <div class="pendDetail_con">
                           <p th:text="${dynamic.content}"></p>
                       </div>
                               <div th:if="${dynamic.comments.size() != 0}" class="pendDetail_replayCon">
                                       <div th:each="comment:${dynamic.comments}">
                                       <p><span>[[${comment.user.uname}]] 回复 @[[${comment.ruser.uname}]]：[[${comment.content}]]
                                       <button class="replayBtn" id="comment"  th:if="${session.user != null}">回复</button></span></p>
                                       <div class="pendDetail_action">
                                           <input type="text"  th:placeholder="${'回复'+comment.user.uname+':(请不要超过40个字)'}" maxlength="40"/>
                                           <input type="text" style="display: none" th:value="${comment.user.phone}" >
                                           <input type="text" style="display: none" th:value="${dynamic.wid}" >
                                           <button class="replyTopic">回复</button>
                                           <button>取消</button>
                                       </div>
                                       </div>
                               </div>
                       <div class="pendDetail_btn">
                           <ul th:if="${session.user != null }">
                               <li></li>
                               <li class="replayBtn">+</li>
                                       <input  type="text" style="display: none" th:value="${dynamic.wid}" >
                                       <li th:if="${session.user != null && dynamic.phone == session.user.phone}" class="delateBtn">删除</li>
                           </ul >
                       </div>
                       <div class="pendDetail_action">
                           <input type="text" th:placeholder="  ${'回复' +dynamic.user.uname+'(请不要超过40个字)'} " maxlength="40" />
                           <input type="text" style="display: none" th:value="${dynamic.user.phone}" >
                           <input type="text" style="display: none" th:value="${dynamic.wid}" >
                           <button class="replyTopic">回复</button>
                           <button>取消</button>
                       </div>
                   </div>
                   <div class="clear"></div>
               </div>
            <!--测试内容结束、十条内容分页-->
        </div>
        <div class="pager">
        <a th:href="@{/user/topicDal(pn=${dynamics.current}-1,tid=${ids})}" rel="external nofollow" ><<</a>
        <!-- 页数列表 -->
        <a  th:each="num:${#numbers.sequence(1,dynamics.pages)}"  th:href="@{/user/topicDal(pn=${num},tid=${ids})}" rel="external nofollow" th:class="${num==dynamics.current?'current':''}">[[${num}]]</a>
        <!-- 下一页 按钮 -->
        <a th:href="@{/user/topicDal(pn=${dynamics.current}+1,tid=${ids})}" rel="external nofollow">
            >>
        </a>

    </div>
        <div class="hig"></div>
        </div>

    <div class="indexMain_right">
        <div class="myMsg">
                    <div class="myMsg_con">
                        <div class="myMsg_conPic"><img th:src="${topicUser.photo}"></div>
                        <p id="user" th:text="${topicUser.uname}"></p>
                    </div>
                    <div  class="myMsg_footer">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="">话题数<span class="badge"><h4>1</h4></span></a></li>
                            <li role="presentation"><a href="">消息数<span class="badge"><h4>4</h4></span></a></li>
                            <li role="presentation"><a href="">文章数<span class="badge"><h4>4</h4></span></a></li>
                        </ul>
                    </div>
        </div>
        <div class="indexPublic">
            <div class="indexPublic_head">
                相关热点
            </div>
            <div class="indexPublic_con">
                <ul class="weekHot">
                        <li th:each="infoList:${infoType}"><a href="" th:text="${infoList.title}"></a></li>
                </ul>
            </div>
        </div>
    <div class="clear">
        <input type="text" style="display: none" id="topicId" th:value="${topicDal.tid}">
       <!-- <input type="text" style="display: none" id="t_type" value="${topic.t_type}">-->
    </div>
    </div>
</div>
<footer class="publicFooter">
    <p></p>
</footer>
</body>
</html>
<script src="../js/user/jquery-1.8.3.min.js"></script>
<script src="../js/user/tiezi.js"></script>
<script>
    $(function () {

        //评论
        $(".replyTopic").click(function () {
            var $uname = $("#user").text();
            var $tid = $("#topicId").val();
            //var $rname = $(this).prev().val();
            var $content = $(this).parent().children('input').eq(0).val();
            var $rname = $(this).parent().children('input').eq(1).val();
            var $wid = $(this).parent().children('input').eq(2).val();
            var $t_type = $("#t_type").val();

            var patt1 = /^[\s]*$/;
            var patt2 = /^[0-9]+$/;
            var patt3 = /[@#\$%\^&\*]+$/;

            var pvalue1 = patt1.test($content);
            var pvalue2 = patt2.test($content);
            var pvalue3 = patt3.test($content);


            if ($uname == "") {
                alert("请先登录!");
                return ;
            }
            if($content == ""){
                alert("请输入内容!");
                return;
            }
            if(pvalue1){
                alert("请输入有效内容!1");
                return;
            }
            if(pvalue2){
                alert("请输入有效内容!2");
                return;
            }
            if(pvalue3){
                alert("请输入有效内容!3");
                return;
            }
            $.ajax({
                url:"/user/saveComment",
                contentType:"application/json;charset=UTF-8",
                data:JSON.stringify({"content":$content,"phone":$uname,"rphone":$rname,"wid":$wid}),
                dataType:"json",
                type:"post",
                success:function (data) {
                    if (data == null){
                        alert("回复失败")
                    }else {
                        window.location.href = "/user/topicDal?tid="+$tid;
                    }
                }
            });
        });

        //回复话题
        $("#postMsg").click(function () {
            var $content = $(".commentText").val();
            var $user = $("#user").text();
            var $tid = $("#topicId").val();
           /* var $t_type = $("#t_type").val();*/
           /* var username = "<%=session.getAttribute("users")%>"*/

            var patt1 = /^[\s]*$/;
            var patt2 = /^[0-9]+$/;
            var patt3 = /[@#\$%\^&\*]+$/;

            var pvalue1 = patt1.test($content);
            var pvalue2 = patt2.test($content);
            var pvalue3 = patt3.test($content);

            if ($user == "") {
                alert("请先登录!");
                return ;
            }
            if($content == ""){
                alert("请输入内容!");
                return;
            }
            if(pvalue1){
                alert("请输入有效内容!1");
                return;
            }
            if(pvalue2){
                alert("请输入有效内容!2");
                return;
            }
            if(pvalue3){
                alert("请输入有效内容!3");
                return;
            }

            $.ajax({
                url:"/user/saveDynamic",
                /*contentType:"application/json;charset=UTF-8",*/
                data:{tid:$tid,
                content:$content},
               /* dataType:"json",*/
                type:"post",
                success:function (data) {
                    if (data == null){
                        alert("评论失败")
                    }else {
                        window.location.href = "/user/topicDal?tid="+$tid;
                    }
                }
            });
        });

        //删除回复
        $(".delateBtn").click(function () {
            var $wid = $(this).prev().val();
            var $tid = $("#topicId").val();
            var $t_type = $("#t_type").val();
            $.ajax({
                url:"/user/deleteDynamic",
                data:"wid="+$wid,
                type:"post",
                success:function (result) {
                    if (result == "false"){
                        alert("删除回复失败");
                    }else {
                        window.location.href = "/user/topicDal?tid="+$tid;
                    }
                }
            });
        });


    });
</script>